
:root{
    --bg-white-fake: #f8f9fa;
    --bg-input : #e5e5e5;
    --bg-chip: #165bba;
  }

  body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
  }

  img{
    width: 100%;
  }

//   .debug{
//     border: 1px solid black;
//   }

  .dp-container{
    width: 100%;
    height: 100vh;
  }

  .chip{
    background-color: var(--bg-chip);
    padding: 3px 8px;
    border-radius: 30px;
  }


/**************** SIDEBAR *****************/

.sidebar{
    width: 150px;
    background-color: #13293f;
    /* background: url(../img/sidebar-bg.png); */
    i{
      padding: 10px;
    }
    li:hover{
        background-color: #355c82;
      }
  }


  /*********** MAIN CONTENT ******************/
  .main-content{
    overflow: auto;
    height: 100%;
    width: 100%;
  }


  /********** HEADER MAIN CONTENT **********/

  .main-content .content-header{
    height: 100px;
    background-color: #1b72e8;
  }

  .main-content .content-header .online-users{
    font-size: 2rem;
  }

  .main-content .content-header .dp-btn{
    border: 1px solid white;
    background-color: #1b72e8;
    color: white;
    height: 35px;
    width: 35px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
  }

  .main-content .content-header .dp-btn:hover{
    background-color: #023986;
  }

  .main-content .content-header .offcanvas {
    width: 800px;
  }

  /************** CONTENT BODY ***************/



  .content-body .table .icons {
    transform: translateX(-10px);
  }

  .content-body .table img{
    width: 30px;
    margin: 0 10px;
  }

  .content-body .users-title{
    padding: 20px 17px;
  }



  @media screen and (width: 768px){
    .sidebar{
      width: 70px;
    }
  }
